
doctype html
html(lang='zh-CN')
	head
		meta(charset='utf8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title= consts.app.name
		link(rel='stylesheet', href=consts.web.local?'/static/css/bootstrap.min.css':'http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css')
		style.
			.alert {
				position: fixed;
				width: 100%;
				z-index: 10;
			}
			th {
				text-align:center;
			}
			#banner {
				position: relative;
				padding: 60px 30px 30px 30px;
				text-shadow: 1px 1px 1px black;
				background-image: url(/static/images/title-background.png);
				background-size: 100% 100%;
			}
			.my-gray-border {
				border: 1px solid #DDD;
				border-radius: 4px;
			}
			.my-vertical-gap-sm {
				margin-top: 10px;
			}
			.my-vertical-gap-md {
				margin-top: 30px;
			}
		script(src=consts.web.local?'/static/js/jquery.min.js':'http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js')
		script(src=consts.web.local?'/static/js/angular.min.js':'http://cdn.bootcss.com/angular.js/1.3.0-beta.8/angular.min.js')
		script(src=consts.web.local?'/static/js/bootstrap.min.js':'http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js')
		script.
			var fuck = angular.module('fuck',[]);

			fuck.controller('root',function($scope,$http){
				//- initialize (pseudo) global variable
				$scope.glob = {
					tab: 'save-town',
					alert: {type:'hidden'},
					result: {show:false}
				};

				$http.get('/link/datascheme').success(function(data){
					$scope.glob.ds = data;
				}).error(function(){
					$scope.glob.alert={
						type:"alert-danger",
						content:"Oops, fail to load this page!"
					};
				});
			});

			fuck.controller('alerter',function($scope){
				$scope.$watch('glob.alert.type',function(from,to){
					if(to.type!='hidden'){
						setTimeout(function(){$scope.glob.alert={type:"hidden"};$scope.$digest()},3000);
					}else{
						console.log(from);
						console.log(to);
						/*there still be something unclear, but it works :) */
					}
				});
			});

			fuck.controller('switcher',function($scope){
				$scope.active = {town:'active'};
				$scope.click = {
					town: function(){
						$scope.active = {town:'active'};
						$scope.glob.tab = 'save-town';
					},
					village: function(){
						$scope.active = {village:'active'};
						$scope.glob.tab = 'save-village';
					},
					load: function(){
						$scope.active = {load:'active'};
						$scope.glob.tab = 'load';
					}
				};
			});

			fuck.controller('save-town',function($scope,$http){
				$scope.save = function(){
					$http.post('/save?type=town',$scope.formdata).success(function(data){
						if(!data.err){
							$scope.glob.alert = {type:'alert-success',content:'Data was saved successfully!'};
						}else{
							$scope.glob.alert = {type:'alert-danger',content:'Sorry, data was not saved.'};
							console.error(err);
						}
						$scope.formdata = {};
					}).error(function(){
						$scope.glob.alert = {type:'alert-danger',content:'Sorry, data was not saved.'};
					});
				};
				$scope.attrlist = {};
				$scope.$watch('glob.ds',function(value){
					var a = {};
					if(value){
						for(i in value.town){
							if(i[0] == 'r'){
								a[i] = value.town[i]._name;
							}
						}
					}
					$scope.attrlist = a;
				});
				$scope.formdata = {};
			});

			fuck.controller('save-village',function($scope,$http){
				$scope.save = function(){
					$http.post('/save?type=village',$scope.formdata).success(function(data){
						if(!data.err){
							$scope.glob.alert = {type:'alert-success',content:'Data was saved successfully!'};
						}else{
							$scope.glob.alert = {type:'alert-danger',content:'Sorry, data was not saved.'};
							console.error(err);
						}
						$scope.formdata = {};
					}).error(function(){
						$scope.glob.alert = {type:'alert-danger',content:'Sorry, data was not saved.'};
					});
				};
				$scope.attrlist = {};
				$scope.$watch('glob.ds',function(value){
					var a = {};
					if(value){
						for(i in value.village){
							if(i[0] == 'r' || i[0] == 's'){
								a[i] = value.village[i]._name;
							}
						}
					}
					$scope.attrlist = a;
				});
				$scope.formdata = {};
			});

			fuck.controller('load',function($scope,$http){
				$scope.load = function(){
					$http.post('/load',$scope.formdata).success(function(data){
						if(!data.err){
							$scope.glob.alert = {type:'alert-success',content:'load successfully'};
							switch(data.type){
								case 'town':
									var temp = {type:'town',show:true,raw:{},indicator:{}};
									for(i in data.content){
										switch(false){
											case !(i[0] == 'r'):
												temp.raw[$scope.glob.ds.town[i]._name] = data.content[i];
												break;
											case !(i[0] == 'i'):
												temp.indicator[$scope.glob.ds.town[i]._name] = data.content[i];
												break;
											case !(i == 's1'):
												temp.village = data.content.s1.map(function(x){return x.r1});
												break;
											case !(i == '_id'):
												temp.id = data.content._id;
												break;
										}
									}
									$scope.glob.result = temp;
									break;
								case 'village':
									var temp = {type:'village',show:true,raw:{}};
									for(i in data.content){
										switch(false){
											case !(i[0] == 'r'):
												temp.raw[$scope.glob.ds.village[i]._name] = data.content[i];
												break;
											case !(i == '_id'):
												temp.id = data.content._id;
												break;
										}
									}
									$scope.glob.result = temp;
									break;
							}
						}else{
							$scope.glob.alert = {type:'alert-danger',content:'load failed'};
							console.log(data.err);
						}
					});
				};
				$scope.formdata={};
			});

			fuck.controller('result',function($scope){
				console.log($scope.glob.ds);
			});
	body(ng-app='fuck',ng-controller='root')
		div#alerter(ng-controller='alerter')
			div(class='alert {{glob.alert.type}}', role='alert') {{glob.alert.content}}
		div#banner
			div.container
				h1 12345678
				p 87656321312132131312312323123123213123123213211312312312
				p(style="float:right;margin-right:20px") 123456
		div#navbar.container-flude(role='navigation')
			
		.container.my-vertical-gap-md
			div#sidebar.col-md-3
			div#mainwindow.col-md-9.my-gray-border
				ul.nav.nav-tabs(role='tablist', ng-controller='switcher')
					li(role='presentation', class='{{active.town}}', ng-click='click.town()')
						a(href='#') Town
					li(role='presentation', class='{{active.village}}', ng-click='click.village()')
						a(href='#') Village
					li(role='presentation', class='{{active.load}}', ng-click='click.load()')
						a(href='#') Load
				div
					div(ng-switch='glob.tab')
						div(ng-switch-when='save-town')
							h1 添加镇子数据:
							form.form-horizontal(role='form',ng-controller="save-town")
								.form-group(ng-repeat='(i,j) in attrlist')
									label.col-md-2.control-label.text-right(for='{{i}}') {{j}}
									.col-md-9
										input.form-control(id='{{i}}',type='text',ng-model='formdata[i]')
								button.btn.btn-default.col-md-offset-2(ng-click='save()') 提交
						div(ng-switch-when='save-village')
							h1 添加村子数据:
							form.form-horizontal(role='form',ng-controller="save-village")
								.form-group(ng-repeat='(i,j) in attrlist')
									label.col-md-2.control-label.text-right(for='{{i}}') {{j}}
									.col-md-9
										input.form-control(id='{{i}}',type='text',ng-model='formdata[i]')
								button.btn.btn-default.col-md-offset-2(ng-click='save()') 提交
						div(ng-switch-when='load')
							h1 读取数据:
							form.form-horizontal(role='form',ng-controller='load')
								.form-group
									label.col-md-2.control-label.text-right(for='type') 类型
									.col-md-9
										label.radio-inline 
											input#radio-town(type='radio',name='type',value='town',ng-model='formdata["type"]')
											| 镇子
										label.radio-inline 
											input#radio-village(type='radio',name='type',value='village',ng-model='formdata["type"]')
											| 村子
								.form-group
									label.col-md-2.control-label.text-right(for='loadByName') 地名
									.col-md-9
										input.form-control(id='loadByName',type='text',ng-model='formdata["name"]')
								button.btn.btn-default.col-md-offset-2(ng-click='load()') 提交
							div(ng-controller='result')
								div(class='{{glob.result.show?"":"hidden"}}')
									h2 Results:
									div(ng-switch='glob.result.type')
										table.table.table-bordered(ng-switch-when='town')
											caption {{glob.result.raw.r1}}
											thead
												tr
													th 项目
													th 值
											tbody
												tr(ng-repeat="(i,j) in glob.result.raw")
													td {{i}}
													td {{j}}
												tr
													td 编号
													td {{glob.result.id}}
												tr
													td 下属村子
													td {{glob.result.village.join(' ')}}
												tr
													th(colspan='2') 评价指标
												tr(ng-repeat="(i,j) in glob.result.indicator")
													td {{i}}
													td {{j}}
										table.table.table-bordered(ng-switch-when='village')
											caption {{glob.result.raw.r1}}
											thead
												tr
													th 项目
													th 值
											tbody
												tr(ng-repeat="(i,j) in glob.result.raw")
													td {{i}}
													td {{j}}
												tr
													td 编号
													td {{glob.result.id}}
