
doctype html
html(lang='zh-CN')
	head
		meta(charset='utf8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title= consts.app.name
		link(rel='stylesheet', href=consts.web.local?'/static/css/bootstrap.min.css':'http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css')
		style.
			.alert {
				position: fixed;
				width: 100%;
				z-index: 10;
			}
		script(src=consts.web.local?'/static/js/jquery.min.js':'http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js')
		script(src=consts.web.local?'/static/js/angular.min.js':'http://cdn.bootcss.com/angular.js/1.3.0-beta.8/angular.min.js')
		script(src=consts.web.local?'/static/js/bootstrap.min.js':'http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js')
		script.
			var fuck = angular.module('fuck',[]);

			fuck.controller('root',function($scope,$http){
				//- initialize (pseudo) global variable
				$scope.glob = {
					tab: 'save-town',
					alert: {type:'hidden'}
				};

				$http.get('/link/datascheme').success(function(data){
					$scope.glob.ds = data;
				}).error(function(){
					$scope.glob.alert={
						type:"alert-danger",
						content:"Oops, fail to load this page!"
					};
				});
			});

			fuck.controller('alerter',function($scope){
				$scope.$watch('glob.alert.type',function(from,to){
					if(to.type!='hidden'){
						setTimeout(function(){$scope.glob.alert={type:"hidden"};$scope.$digest()},3000);
					}else{
						console.log(from);
						console.log(to);
						/*there still be something unclear, but it works :) */
					}
				});
			});

			fuck.controller('switcher',function($scope){
				$scope.active = {town:'active'};
				$scope.click = {
					town: function(){
						$scope.active = {town:'active'};
						$scope.glob.tab = 'save-town';
					},
					village: function(){
						$scope.active = {village:'active'};
						$scope.glob.tab = 'save-village';
					},
					load: function(){
						$scope.active = {load:'active'};
						$scope.glob.tab = 'load';
					}
				};
			});

			fuck.controller('save-town',function($scope,$http){
				$scope.save = function(){
					$http.post('/save?type=town',$scope.formdata).success(function(data){
						if(!data.err){
							$scope.glob.alert = {type:'alert-success',content:'Data was saved successfully!'};
						}else{
							$scope.glob.alert = {type:'alert-danger',content:'Sorry, data was not saved.'};
							console.error(err);
						}
					}).error(function(){
						$scope.glob.alert = {type:'alert-danger',content:'Sorry, data was not saved.'};
					});
				};
				$scope.attrlist = {};
				$scope.$watch('glob.ds',function(value){
					var a = {};
					if(value){
						for(i in value.town){
							if(i[0] == 'r'){
								a[i] = value.town[i]._name;
							}
						}
					}
					$scope.attrlist = a;
				});
				$scope.formdata = {};
			});

			fuck.controller('save-village',function($scope,$http){
				$scope.save = function(){
					$http.post('/save?type=village',$scope.formdata).success(function(data){
						if(!data.err){
							$scope.glob.alert = {type:'alert-success',content:'Data was saved successfully!'};
						}else{
							$scope.glob.alert = {type:'alert-danger',content:'Sorry, data was not saved.'};
							console.error(err);
						}
					}).error(function(){
						$scope.glob.alert = {type:'alert-danger',content:'Sorry, data was not saved.'};
					});
				};
				$scope.attrlist = {};
				$scope.$watch('glob.ds',function(value){
					var a = {};
					if(value){
						for(i in value.village){
							if(i[0] == 'r' || i[0] == 's'){
								a[i] = value.village[i]._name;
							}
						}
					}
					$scope.attrlist = a;
				});
				$scope.formdata = {};
			});

			fuck.controller('load',function($scope,$http){
				$scope.load = function(){
					$http.post('/load',$scope.formdata).success(function(data){
						if(!data.err){
							console.log(data.content);
						}else{
							console.log(data.err);
						}
					});
				};
				$scope.formdata={};
			});
	body(ng-app='fuck',ng-controller='root')
		div(ng-controller='alerter')
			div(class='alert {{glob.alert.type}}', role='alert') {{glob.alert.content}}
		ul.nav.nav-tabs(role='tablist', ng-controller='switcher')
			li(role='presentation', class='{{active.town}}', ng-click='click.town()')
				a(href='#') Town
			li(role='presentation', class='{{active.village}}', ng-click='click.village()')
				a(href='#') Village
			li(role='presentation', class='{{active.load}}', ng-click='click.load()')
				a(href='#') Load
		.container
			div(ng-switch='glob.tab')
				div(ng-switch-when='save-town')
					form.form-horizontal(role='form',ng-controller="save-town")
						.form-group(ng-repeat='(i,j) in attrlist')
							label.col-md-2.control-label.text-right(for='{{i}}') {{j}}
							.col-md-9
								input.form-control(id='{{i}}',type='text',ng-model='formdata[i]')
						button.btn.btn-default.col-md-offset-2(ng-click='save()') Submit
				div(ng-switch-when='save-village')
					form.form-horizontal(role='form',ng-controller="save-village")
						.form-group(ng-repeat='(i,j) in attrlist')
							label.col-md-2.control-label.text-right(for='{{i}}') {{j}}
							.col-md-9
								input.form-control(id='{{i}}',type='text',ng-model='formdata[i]')
						button.btn.btn-default.col-md-offset-2(ng-click='save()') Submit
				div(ng-switch-when='load')
					form.form-horizontal(role='form',ng-controller='load')
						.form-group
							label.col-md-2.control-label.text-right(for='type') Type
							.col-md-9
								label.radio-inline 
									input#radio-town(type='radio',name='type',value='town',ng-model='formdata["type"]')
									| Town
								label.radio-inline 
									input#radio-village(type='radio',name='type',value='village',ng-model='formdata["type"]')
									| Village
						.form-group
							label.col-md-2.control-label.text-right(for='loadByName') Name
							.col-md-9
								input.form-control(id='loadByName',type='text',ng-model='formdata["name"]')
						button.btn.btn-default.col-md-offset-2(ng-click='load()') Submit