
doctype html
html(lang='zh-CN', ng-app="fuck")
	head
		meta(charset='utf8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title= consts.app.name
		link(rel='stylesheet', href=consts.web.local?'/static/css/bootstrap.min.css':'http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css')
		script(src=consts.web.local?'/static/js/jquery.min.js':'http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js')
		script(src=consts.web.local?'/static/js/angular.min.js':'http://cdn.bootcss.com/angular.js/1.3.0-beta.8/angular.min.js')
		script(src=consts.web.local?'/static/js/bootstrap.min.js':'http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js')
		script!= 'ds=JSON.parse(\''+JSON.stringify(ds)+'\')'
		script.
			var fuck = angular.module('fuck',[]);
			fuck.controller('listctrl',function($scope){
				$scope.town = ds.town;
			});
	body
		.container
			div(ng-controller="listctrl")
				div
					input(ng-model='query')
				select
					option(ng-repeat='i in town') {{i}}
			